<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
>
  <targets>
    <target xsi:type="WebService"
            name="webServer"
            url="http://localhost:1234/log"
            encoding="UTF-8"
            protocol="HttpPost"
            methodName="String">
      <parameter name="date" type="System.String" layout="${date}" />
      <parameter name="level" type="System.String" layout="${level}" />
      <parameter name="message" type="System.String" layout="${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="*"  writeTo="webServer"/>
  </rules>
</nlog>

